@font-face {
    font-family: 'NexonNormal';
    src: url('../fonts/NexonNormal.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NexonBold';
    src: url('../fonts/NexonBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NexonExtraBold';
    src: url('../fonts/NexonExtraBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}